<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <title>The Battleship Game</title>
</head>
<body>

  <p>
      <div class="form-group">
  Ligne:<br>
  <input id="row" type="number" name="row" value="0">
  <br>
  Colonne:<br>
  <input id="column" type="number" name="column" value="0">
  <br><br>
  <button class="btn btn-primary" onclick="action()">submit</button>
</div>
  </p>
  <p id="output">

  </p>

  <table>
    <tbody>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
        <td>&nbsp;•&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <script src="script.js"></script>

</body>
</html>
