<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>The Battleship Game</title>
</head>
<body>

<h1 class="text-center">The battleship Game</h1>

  <div class="container">
    <table style="border: none;" class="table table-bordered text-center">
      <tbody>
        <% for (var i = 0; i < battleship.grid.length; i++) {%>
          <tr value="<%=i+1%>">
          <% for (var j = 0; j < battleship.grid[i].length; j++) {
            switch (battleship.grid[i][j]) {
              case 0:
                var btn_class = "info";
                break;
              case 1:
                var btn_class = "warning";
                break;
              case 2:
                var btn_class = "danger";
                break;
              default:
                var btn_class = "default";
          break; } %>
          <td value="<%=j+1%>" onclick="action($(this).parent().attr('value'), $(this).attr('value'))" style="padding:20px;" class="btn btn-<%=btn_class%>"></td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>


  <p id="output">

  </p>

  <script src="script.js"></script>

</body>
</html>
