/* Table with divs */
.divTable{
	display: table;
	border: none;
}
.divTableRow {
	display: table-row;
}
.divTableCell, .divTableHead {
	border: 1px solid #ccc;
	display: table-cell;
	padding: 0px;
	width: 45px;
	height: 45px;
	min-width: 45px;
	min-height: 45px;
}
.divTableHeading {
	border:none; 
	text-align:center; 
	vertical-align:middle;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
	width: auto;
}

.title {
	margin-top: 2%;
}

.boatsTable {
	z-index: 1;
	/*margin-left: 30%;*/
}

.setBoatsTable {
	margin-top: 10%;
}

.boatsTable > .divTableBody > .divTableRow > .divTableCell {
	background-color: blue;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.no-padding {
	padding: 0;
}