@font-face {
	font-family: WarWound;
	src: url("GimmeDanger.ttf");
}

body {
	background-image: url("https://images5.alphacoders.com/539/thumb-1920-539466.jpg");
	color: white;
}

h1, h2, .divTableHeading {
	font-family: WarWound;
}

/* Table with divs */
.divTable{
	display: table;
	border: none;
}
.divTableRow {
	display: table-row;
}
.divTableCell, .divTableHead {
	border: 1px solid #ccc;
	display: table-cell;
	padding: 0px;
	width: 45px;
	height: 45px;
	min-width: 45px;
	min-height: 45px;
}
.divTableHeading {
	border:none;
	text-align:center;
	vertical-align:middle;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
	width: auto;
}

#myGrid {
	pointer-events: none;
}

/*already visited cells*/

#attackGrid .btn-primary, #attackGrid .btn-success, #attackGrid .btn-warning, #attackGrid .btn-danger {
	pointer-events: none;
}

.bounceIn {
	animation-name: bounceIn;
	animation-duration: 0.5s;
}

.title {
	margin-top: 2%;
}

.boatsTable {
	z-index: 1;
	transition: transform 0.3s ease-in-out;
	/*margin-left: 30%;*/
}

.setBoatsTable {
	margin-top: 5%;
}

.boatsTable > .divTableBody > .divTableRow > .divTableCell {
	background-color: #337ab7;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}

.rotated {
	transform: rotate(90deg);
	transition: transform 0.3s ease-in-out;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(1.4, 1.4, 1.4);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
  75% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
